.crossed_out
{
    text-decoration: line-through;
}

.header{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 1rem 1.5rem;
    font-size: 2.25rem;
    font-weight: bolder;
    border-bottom: 1px solid rgb(224, 224, 224);
    align-items: center;
}

#search-box
{
    border: 1px solid white;
    width: 250px;
    height: 25px;
    border-radius: 0.5em;
}
#Inputfield
{
    padding: 10px;
    justify-content: space-between;
}

#listDisplay
{
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
}
